<!DOCTYPE html>
<html lang="es" ng-app="myPortfolio">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Portfolio of Kenia Manjarrez</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body ng-controller="TabController as tab" id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top"> 
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="#" ng-click="tab.setTab(1)">LOGO</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-class="{active: tab.isSet(1)}"><a ng-click="tab.setTab(1)" href="#home"><span class="hvr-underline-from-center">Home</span></a></li>
                        <li ng-class="{active: tab.isSet(2)}"><a ng-click="tab.setTab(2)"  href="#about"><span class="hvr-underline-from-center">About</span></a></li>
                        <li ng-class="{active: tab.isSet(3)}"><a ng-click="tab.setTab(3)" href="#skills"><span class="hvr-underline-from-center">Skills</span></a></li>
                        <li ng-class="{active: tab.isSet(4)}"><a ng-click="tab.setTab(4)"  href="#carousel"><span class="hvr-underline-from-center">Work</span></a></li>
                        <li ng-class="{active: tab.isSet(5)}"><a ng-click="tab.setTab(5)"  href="#contact"><span class="hvr-underline-from-center">Contact</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="home" class="home contenedor text-center textA" ng-show="tab.isSet(1)">
            <div id="boxText">
                <span class="txt">¡HOLA!</span>
                <span class="♥">♥</span>
                <span class="txt" contenteditable spellcheck="false">Soy Kenia Manjarrez y me dedico al desarollo web. </span>
            </div>
        </div>

        <div id="about" class="container-fl" ng-show="tab.isSet(2)">
            <h2>About me</h2> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam minus placeat dolorem quis nobis, magnam quia quos? Voluptatum eum corrupti distinctio velit, voluptates exercitationem ut, animi ad, ullam autem, sunt.</p>
        </div>

        <div id="skills" class="container-fl" ng-show="tab.isSet(3)">
            <h2>Skills</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui accusantium numquam reprehenderit minus, ipsam, recusandae ipsa itaque tempore! Labore dignissimos temporibus, ex sapiente ipsa illum inventore. Quia hic nihil optio?</p>
        </div>

        <div id="carousel" class="container-fl text-center" ng-show="tab.isSet(4)">
            <h2>Mis proyectos</h2>
            <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
                
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <h4>Proyecto creado con:<br><span style="font-style:normal;">HTML5, CSS, BOOTSTRAP,PHP </span></h4>
                    </div>
                    <div class="item">
                        <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
                    </div>
                    <div class="item">
                        <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <i class="glyphicon glyphicon-chevron-right"></i>  
                </a>
            </div>
        </div>

        <div id="contact" class="container-fl row" ng-show="tab.isSet(5)">
            <div class="box-1">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Nombre:</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Email:</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">subject</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Asunto</label>
                        </div>
                       
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="textarea1 icon_prefix" class="materialize-textarea " ></textarea>
                            <label for="textarea1">Escribe tu mensaje...</label>
                        </div>
                    </div>
                </form>


            </div>
            <div class="box-2">

                <h4 >Enviame un mensaje.</h4>
                <h5>Puedo ayudarte en tus nuevos proyectos aplicando los conocimientos adquiridos en mi formación profesional.</h5>

            </div>

        </div>

        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular-app.js"></script>
        <script src="js/text.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    </body>
</html>